# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [11]:
l=[]
for i in range(1,11):
    l.append(i)
Set=set(l)
print(Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [5]:
Set.add(11)
Set.remove(1)
print(Set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
l1=[]; l2=[]
for i in range(1,6):
    l1.append(i)

c=0;n=0
while(c<5):
    if n%2==0:
        l2.append(n)
        c=c+1
    n=n+1

A = set(l1)
B = set(l2)
print("set 1 :",A)
print("set 2 :",B)

print("union :",A|B)
print("intersection :",A&B)
print("difference :",A-B)
print("symmetric difference :",A^B)

set 1 : {1, 2, 3, 4, 5}
set 2 : {0, 2, 4, 6, 8}
union : {0, 1, 2, 3, 4, 5, 6, 8}
intersection : {2, 4}
difference : {1, 3, 5}
symmetric difference : {0, 1, 3, 5, 6, 8}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [7]:
set1={x**2 for x in range(1,11)}
print(set1)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [13]:
set1={x for x in Set if x%2 == 0 }
print(set1)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [2]:
# list with duplicate elements
dup=[1,2,3,1,2]

# removing duplicates using python's inbuilt set function
S=set(dup)
print(S)

{1, 2, 3}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [20]:
X = {x for x in range(1,6)}
Y = {x for x in range(1,4)}
print("X :",X)
print("Y :",Y)

if(Y<=X):
    print("Y is a subset of X THEREFORE X is the superset of Y")
else:
    print("Y is not the subset of X")

X : {1, 2, 3, 4, 5}
Y : {1, 2, 3}
Y is a subset of X THEREFORE X is the superset of Y

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [21]:
fs=frozenset(x for x in range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [3]:
A={1,2,3,4,5}
l=list(A)
l.append(6)
set1=set(l)
print(set1)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
K={"one","two","three","four","five"}
d={}
for keys in K:
    if keys == "one":
        d.update({keys:1})
    elif keys == "two":
        d.update({keys:2})
    elif keys == "three":
        d.update({keys:3})
    elif keys == "four":
        d.update({keys:4})
    else:
        d.update({keys:5})
print(d)

{'one': 1, 'four': 4, 'three': 3, 'two': 2, 'five': 5}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [8]:
S={1,4,5,6,7,8,2,3}
for i in S:
    print(i)

1
2
3
4
5
6
7
8

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [4]:
A={4,2,1,3,5}
print("Set :",A)
while(len(A) != 0):
    A.pop()
    print(A)

Set : {1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [5]:
P={1,2,7,3}
Q={9,0,2,7}

P=P^Q
print(P)

{0, 1, 3, 9}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [ ]:
S={"apple","mango","banana","grapes"}
if "mango" not in S:
    print("mango is not in the set")
else:
    print("mango is in the set")

if "kiwi" not in S:
    print("kiwi is not in the set")
else:
    print("kiwi is in the set")

if "apple" not in S:
    print("apple is not in the set")
else:
    print("apple is in the set")

mango is in the set
kiwi is not in the set
apple is in the set

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [7]:
Tup_set={(1,2),(3,4),(5,6)}
print(Tup_set)

{(1, 2), (3, 4), (5, 6)}